@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.nav-menu {
    background: transparent;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 7;
  
    transition: all .4s;
  }
  
  @media (max-width:769px) {
    .nav-menu {
        background: #FFFFFF !important;
        box-shadow: 0px -2px 12px -4px #6A6768;
    }
  }
  
  .nav-item {
    padding: 0 10px;
    font-size: 14px;
  }
  
  @media (max-width: 34em) {
    .menu-item {
        padding: 10px 10px 10px;
    }
  }
  
  .navbar-toggler {
    cursor: pointer;
    outline: 0;
    background-color: #3B61A6;
  }
  
  .ham {
    transition: width 0.3s;
    background: #ffffff;
  }
  
  .line1, .line3  {
    width: 28px;
    height: 2px;
    margin: 6px;    
    transition:  0.4s;
    
  }
  
  .change .line1 {
    transform: rotate(-45deg) translate(-3px, 2px);
  }
  
  .change .line3 {
    transform: rotate(45deg) translate(-3px, -2px);
  }
  
  .dropdown-item {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .costum-navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    background: #FFFFFF !important;
    box-shadow: 0px -2px 12px -4px #6A6768;
    position: fixed;
  }
  
  .navbar-light .navbar-nav .nav-link {
      color: #6A6768;
  } 
  
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus {
      color: #29BB89;
  }
  
  .navbar-light .navbar-nav .nav-link:active,
  .navbar-light .navbar-nav .nav-link.active {
      color: #3B61A6;
      font-weight: bold;
  }

  .dropdown-menu{
    width: 200px;
    border: none;
    box-shadow: 0px 0px 8px -4px #6A6768;
    border-radius: 8px;
  }

  .btn-bg-putih {
    color: #29BB89;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px -4px #6A6768;
    font-size: 14px;
    transition-duration: 0.6s;
  }
  
  .btn-bg-putih:hover {
  color: #FFFFFF;
  background-color: #29BB89;
  border-color: #29BB89;
  text-decoration: none;
  }

  .btn-bg-ijo {
    color: #FFFFFF;
    background-color: #29BB89;
    box-shadow: 0px 0px 8px -4px #6A6768;
    transition-duration: 0.6s;
  }
  
  .btn-bg-ijo:hover {
  color: #FFFFFF;
  background-color: #0aa56f;
  border-color: #0aa56f;
  text-decoration: none;
  }

  .rounded-15{
      border-radius: 15px;
  }

  .text-abumuda{
      color: #6A6768;
  }

  .z{
      z-index: -100;
  }

  .img-header{
      margin-top: -620px;
      margin-left: -100px;
      z-index: 1;
      margin-bottom: 130px;
  }

  .img-header-2{
    margin-top: -650px;
    /* margin-left: -100px; */
    z-index: 1;
    margin-bottom: 130px;
  }

  .sec-home{
    margin-top: -600px;
  }


@media (max-width:1025px) {
  .img-header{
    margin-top: -600px;
    margin-left: -100px;
    z-index: 1;
    margin-bottom: 130px;
    width: 600px;
  }
  .sec-home{
    margin-top: -400px;
  }
}

@media (max-width:769px) {
  .img-header{
    margin-top: -650px;
    margin-left: 50px;
    z-index: 1;
    margin-bottom: 130px;
    width: 600px;
  }
  .t-home{
    font-size: 29px;
  }
}

  .mt-section{
      margin-top: 100px;
  }
  
  .-mt-section{
    margin-top: -100px;
  }

  .-mt-section-2{
    margin-top: -200px;
  }

  .pro{
    max-height: 100px;
    width: auto;
  }

  
  .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); */
    height: 300px;
    background-color: #FFFFFF;
  }
  
  .card-title {
    margin: 0.8em 0.8em;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }

  .card-text{
      font-size: 14px;
  }

  @media (max-width: 1025px){
    .card {
      width: 300px;
      height: 320px;
    }
  }
  
  @media (max-width: 800px){
    .card {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      width: auto;
      height: 430px;
    }
  }

  @media (max-width: 500px){
    .card {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      width: auto;
      height: 300px;
    }
    .owl-carousel.card img{
      width: 50px;
      height: 50px;
    }
    .card-carousel .owl-item {
      padding: 50px 0px;
      transition: all .3s ease;
    }
    
    .card-carousel .owl-item.center {
      z-index: 3;
    }
    
    .card-carousel .item {
      position: relative;
      padding: 20px;
      width: 100%;
    }
  }

  @media (max-width: 400px){
    .card{
      height: 370px;
    }
  }

  @media (max-width: 330px){
    .card{
      height: 410px;
    }
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .card:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .card:hover .btn {
      opacity: 1;
    }
  }

  .bg-1-2{
      margin-top: -150px;
  }

  .bg-2-1{
    margin-top: -270px;
}

  .list-produk {
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
    box-shadow: 0 0rem 0rem 0 rgba(0, 0, 0, 0.1);
    width: 390px;
    height: 56px;
  }
  
  .list{
    text-decoration: none;
    color: black;
  }

  .list:hover{
    text-decoration: none;
    color: black;
  }

  @media (min-width: 992px) {
    .list-produk:hover {
      transform: scale(1.02);
      box-shadow: 0 0rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  }

  .img-opacity {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }

  .img-opacity:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
  }

  @media (max-width:800px) {
    .img-opacity {
      opacity: 1;
    }
  }

  /* Testimonial */
  .heading {
    position: relative;
  }

  .testimonials{
    width: 98vw;
    margin-top: 180px;
    /* justify-content: center; */
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (max-width:800px) {
    .testimonials{
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }

  .testimonials .heading h2 {
      font-size: 25px;
      font-weight: 700;
      color: #ffffff;
  }

  .testimonials p {
      font-size: 15px;
      font-weight: 400;
      line-height: 1.7;
      color: #6A6768;
      margin: 20px 0;
      padding: 0;
  }

  /* Image */
  .testimonials .carousel-inner .carousel-item .team {
      width: 100px;
      height: 100px;
      /* border: 2px solid #ff0000; */
      border-radius: 100%;
      padding: 5px;
      margin: 50px 0 15px;
  }

  .testimonials .carousel-inner .carousel-item h3 {
      font-size: 20px;
      color: #000000;
      font-weight: 600;
  }

  .testimonials .carousel-inner .carousel-item h4 {
      font-size: 14px;
      font-weight: 300;
      color: #e2e1e1;
      margin-bottom: 20px;
  }

  .testimonials .carousel-indicators {
      bottom: -30px;
  }

  .testimonials .carousel-indicators li {
      background-color: #b8b7b7;
      border-radius: 30px;
      height: 4px;
      width: 40px;
  }

  .testimonials .carousel-indicators .active {
      background-color: #29BB89;
  }

  .testimonials .control span {
      cursor: pointer;
  }

  .testimonials .icon {
      height: 40px;
      width: 40px;
      background-size: 100%, 100%;
      border-radius: 50%;
      font-size: 30px;
      background-image: none;
      color: #7c7c7c;
  }

  .ijo{
    background-color: #29BB89;
    width: 100px;
    height: 2px;
  }

  .-hr{
    margin-top: -18px;
  }

  @media (max-width:1025px) {
    .mt{
      margin-top: 0px;
    }
    .img-bg{
      max-height: 350px;
      width: auto;
    }
    .testimonials{
      width: 80vw;
      margin-top: 200px;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  @media (max-width:769px) {
    .mt{
      margin-top: -100px;
    }
    .mt-des{
      margin-top: 80px;
    }
    .img-bg{
      max-height: 350px;
      width: auto;
    }
    .img-bg-2{
      max-height: 350px;
      width: auto;
    }
    .testimonials{
      width: 80vw;
      margin-top: 200px;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  @media (max-width:500px) {
    .mt-des{
      margin-top: 230px;
    }
  }

  .text-abu{
    color: #6A6768;
  }

  .chat {
    position: relative;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
  }

  .card-berita {
    position: relative;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    /* width: 370px; */
    background-color: #FFFFFF;
  }

  .card-support {
    position: relative;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    /* width: 370px; */
    background-color: #FFFFFF;
    padding: 20px 0 25px 0;
  }

  .card-berita .btn{
    padding: 8px 20px 8px 20px;
    border-radius: 25px;
    border: 1px solid #6A6768;
    color: #000;
    background-color: #FFFFFF;
  }

  .card-support .btn{
    padding: 6px 25px 6px 25px;
    border-radius: 25px;
    border: 1px solid #6A6768;
    color: #000;
    background-color: #FFFFFF;
    font-size: 14px;
  }

  @media (max-width: 1025px){
    .card-support {
      width: 210px;
    }
  }

  @media (max-width: 769px){
    .card-support {
      padding: 6px 0px 6px 0px;
    }
  }

  @media (max-width: 500px){
    .card-support {
      width: 100%;
      padding: 6px 0px 6px 0px;
    }
    .-j{
      margin-top: -95px;
      height: 2px;
      position: relative;
    }
    .list-produk{
      width: 100%;
      box-shadow: 0 0.1rem 0.3rem 0 rgba(0, 0, 0, 0.3);
    }
  }

  @media (max-width: 800px){
    .chat {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      /* width: 230px; */
    }
    .card-berita {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      /* width: 230px; */
    }
    .card-support {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      /* width: 230px; */
    }
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .chat:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .card-berita:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .card-berita:hover .btn:hover {
      color: #FFFFFF;
      background-color: #29BB89;
      border: none;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
    .card-support:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .card-support:hover .btn:hover {
      color: #FFFFFF;
      background-color: #29BB89;
      border: none;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
  }

  .not{
    list-style: url('../images/beranda/close-icon.svg');
  }

  .title-support{
    font-size: 12px;
    font-weight: bolder;
  }

  .card-body ul{
    list-style: url('../images/beranda/checklist-icon.svg');
    font-size: 12px;
  }

  .cs{
    /* position: absolute; */
    margin-top: 200px;
    z-index: 1000;
  }

  .bg-green{
    background-color: #29BB89;
    padding: 60px 0 60px 0;
  }
  .bg-green p{
    letter-spacing: 4px;
  }
  .text-ijo{
    color: #29BB89;
  }

  a{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }

  .page-footer-section {
    position: relative;
    margin-top: -10px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #ffffff;
    color: white;
  }
  
  .page-footer-section.bg-dark .caption {
    color: #ffffff;
  }
  
  .page-footer-section.bg-dark hr {
    border-color: #4d4853;
  }
  
  .menu-link {
    position: relative;
    padding-left: 0;
    list-style: none;
  }
  
  .menu-link li {
    display: block;
    margin: 10px 0;
  }
  
  .menu-link li a {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #5e5e5e;
  }
  
  .menu-link li a:hover {
    color: #000000;
    text-decoration: underline;
  }
  
  .page-footer-section a {
    color: #6A6768;
    font-size: 14px;
    transition-duration: 0.2s;
  }
  .page-footer-section p {
    color: #6A6768;
  }
  
  .page-footer-section a:hover {
    color: #29BB89;
    text-decoration: none;
  }
  
  .footer-middle {
    padding-top: 2em;
    color: #000000;
  }

  .des-produk{
    margin-top: -500px;
    margin-left: -50px;
  }

  .garis{
    margin-top: -2px;
    width: 100px;
    height: 3px;
    background-color: #29BB89;
  }

  .khasiat-card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    /* height: 300px; */
    background-color: #DDFFEB;
  }
  
  .khasiat-card-title {
    margin: 0.8em 0.8em;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }

  .khasiat-card-text{
      font-size: 14px;
  }

  /* .khasiat-card ul{
    list-style: url('../images/produk/checklist.svg');
    font-size: 14px;
  } */

  .khasiat-card li{
    font-size: 14px;
  }
  
  @media (max-width: 800px){
    .khasiat-card {
      border: none;
      border-radius: 1rem;
      transition: all 0.2s;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      width: 230px;
    }
  }
  
  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .khasiat-card:hover {
      transform: scale(1.02);
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .khasiat-card:hover .btn {
      opacity: 1;
    }
  }

  .icon-color{
    color: #29BB89;
  }

  .maps{
    max-height: 100%;
    max-width: 100%;
  }

  .t-ban{
    font-size: 36px;
  }

  @media (max-width:1025px) {
    .t-ban{
      font-size: 34px;
    }
    .bg-green p{
      letter-spacing: 2px;
    }
    .chat {
      width: 255px;
    }
  }

  @media (max-width:500px) {
    .t-ban{
      font-size: 28px;
    }
    .chat{
      width: auto;
    }
    .chat img{
      width: 20px;
    }
    .chat h5{
      font-size: 16px;
    }
    .card-berita{
      height: 500px;
    }
  }

  .legalitas-carousel .owl-item {
    padding: 50px 10px;
    /* opacity: 0.6; */
    transition: all .3s ease;
  }
  
  .legalitas-carousel .item {
    position: relative;
    padding: 10px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(56, 51, 64, 0.15);
    border-radius: 1rem;
    height: 360px;
  }

  .legalitas-carousel.owl-carousel{
    padding: 30px;
  }

  .marketing-carousel .owl-item {
    padding: 20px 10px;
    opacity: 0;
    transition: all .3s ease;
  }

  .marketing-carousel .owl-item.center {
    /* transform: scale(1.2); */
    opacity: 1;
    z-index: 3;
  }
  
  .marketing-carousel .item {
    position: relative;
    /* padding: 10px; */
    width: 100%;
    border: 20px solid #000;
    border-radius: 1rem;
    height: 450px;
  }

  .legalitas-nav{
    position: absolute;
    top: 0;
    width: 100%;
  }

  .legalitas-nav{
    position: absolute;
    top: 0;
    width: 100%;
  }
  
  .legalitas-prev{
    position: absolute;
    left: -25px;
    top: 40%;
    color: #fff;
    background-color: #29BB89;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.08);
    font-size: 20px !important;
  }
  
  .legalitas-next{
    position: absolute;
    right: -25px;
    top: 40%;
    color: #fff;
    background-color: #29BB89;
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 100%;
    box-shadow: 2px 0px 4px 0 rgba(0, 0, 0, 0.08);
    font-size: 20px !important;
  }
  
  .legalitas-next:hover,
  .legalitas-prev:hover{
    color: #29BB89;
    background-color: #fff;
  }
  .legalitas{
    z-index: 1000;
  }

  .sec-leg{
    margin-top: -650px;
    z-index: 1;
    margin-bottom: 130px;
  }

  @media (max-width:1024px) {
    .sec-leg{
      margin-top: -400px;
      z-index: 1;
      margin-bottom: 130px;
    }
    .legalitas-carousel .item {
      height: 280px;
    }
  }

  @media (max-width:769px) {
    .legalitas-carousel.owl-carousel{
      padding: 20px;
    }
    .sec-leg{
      margin-top: -300px;
      z-index: 1;
      margin-bottom: 130px;
    }
  }

  @media (max-width:500px) {
    .legalitas-carousel.owl-carousel{
      padding: 20px;
    }
    .sec-leg{
      margin-top: -150px;
      z-index: 1;
      margin-bottom: 130px;
    }
    .legalitas-carousel .item {
      height: 230px;
    }
    .l-t{
      font-size: 26px;
    }
    .legalitas-prev{
      width: 30px;
      height: 30px;
      padding: 8px;
      font-size: 14px !important;
    }
    
    .legalitas-next{
      width: 30px;
      height: 30px;
      padding: 8px;
      font-size: 14px !important;
    }
  }

  @media (max-width:400px) {
    .legalitas-carousel.owl-carousel{
      padding: 20px;
    }
    .sec-leg{
      margin-top: -130px;
      z-index: 1;
      margin-bottom: 130px;
    }
    .legalitas-carousel .item {
      height: 180px;
    }
  }

  @media (max-width:330px) {
    .sec-leg{
      margin-top: -100px;
      z-index: 1;
      margin-bottom: 130px;
    }
    .legalitas-carousel .item {
      height: 135px;
    }
  }


  .bg-footer{
    margin-top: -100px;
    max-width: 80px;
    height: auto;
  }

  /* Untuk Galeri */
section.legalitas{
  background-color: transparent;
}
.legalitas img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#mkLightboxContainer {
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100vh;
  min-width: 100vw;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mkLightboxContainer > * {
  z-index: 99;
}

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: rgba(0,0,0,.85);
  z-index: 0;
}

#mkLightboxContainer #mklbInner {
  position: relative;
  height: 100vh;
  transition: all .4s ease-in-out;
  margin-left: 0;
}

section.imageContainer {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  border: none;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
}

#mkLightboxContainer img,
#mkLightboxContainer video {
  background: #fff;
  border: 4px solid #ffffff;  max-height: 85vh;
  border-radius: 15px;
  min-width: auto;
  max-width: 75vw;
  width: 50%;
  height: auto;
}

#mkLightboxContainer #yt-video {
  width: 75vw;
  height: 42.1875vw; /* 75*9/16 */
}

.mklbItem:hover {
  cursor: pointer;
  font-style: italic;
}

#closeIconContainer {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: transform .2s linear;
}

#closeIconContainer:hover {
  cursor: pointer;
  transform: scale(1.5);
}

#closeIconContainer svg,
#prev svg,
#next svg{
  fill: white;
}

#prevContainer,
#nextContainer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease-in;
}

#nextContainer {
  left: auto;
  right: 0;
}

#prevContainer:hover,
#nextContainer:hover {
  cursor: pointer;
  background: rgba(0,0,0,0.25);
}

#prev,
#next {
  width: 35px;
  height: 35px;
}




/* Modal */
.modal-body-scroll .modal-body {
  overflow-y: auto;
  height: 350px;
}

.img-modal{
  width: 380px;
  height: 320px;
}

@media (max-width: 768px) {
  .modal-scroll .imgWrapper > img {
    max-width: 80%;
    max-height: calc(100vh - 190px - 120px);
  }	
  .modal-scroll.modal-dialog {
    margin: 0;
  }
  .modal-scroll .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-body-scroll .modal-body {
    max-height: calc(100vh - 122px);
    overflow-y: auto;
  }
}

@media (min-width: 768px) {
  
  .modal-scroll .imgWrapper > img {
    max-width: 80%;
    height: calc(100vh - 193px - 120px);
  }  

  .modal-scroll.modal-dialog {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body-scroll .modal-body {
    max-height: calc(100vh - 124px);
    overflow-y: auto;
  }
}

.l-s{
  letter-spacing: 4px;
}

.sec-kontak{
  margin-top: -580px;
  z-index: 1;
  margin-bottom: 160px;
}

@media (max-width:1024px) {
  .mt-bg{
    margin-left: 15px;
    max-width: 100%;
    height: auto;
  }
  .sec-kontak{
    margin-top: -350px;
    margin-bottom: 80px;
  }
}

@media (max-width:769px) {
  .mt-bg{
    margin-top: 70px;
    margin-left: 15px;
    max-width: 100%;
    height: auto;
  }
  .sec-kontak{
    margin-top: -300px;
    margin-bottom: 70px;
  }
}

@media (max-width:500px) {
  .mt-bg{
    margin-top: 70px;
    margin-left: 30px;
    max-width: 100%;
    height: auto;
  }
  .sec-kontak{
    margin-top: -100px;
    margin-bottom: 70px;
    margin-left: 20px;
  }
}

@media (max-width:376px) {
  .mt-bg{
    margin-top: 70px;
    margin-left: 15px;
    max-width: 100%;
    height: auto;
  }
  .sec-kontak{
    margin-top: -100px;
    margin-bottom: 70px;
    margin-left: 0px;
  }
}

@media (max-width:326px) {
  .mt-bg{
    margin-top: 70px;
    margin-left: 15px;
    max-width: 100%;
    height: auto;
  }
  .sec-kontak{
    margin-top: -80px;
    margin-bottom: 70px;
    margin-left: 0px;
  }
  .t-g{
    font-size: 26px;
  }
  .t-g-d{
    font-size: 16px;
  }
  .list-d{
    font-size: 12px;
  }
}

.form-control{
  border: none;
  box-shadow: 0px 2px 8px -3px #6A6768;
}

.maps-2{
  width: 100%;
  height: auto;
}

.card-download {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  /* height: 300px; */
  background-color: #FFFFFF;
}

.card-title {
  margin: 0.8em 0.8em;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.card-text{
    font-size: 14px;
}

@media (max-width: 800px){
  .card-download {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    width: 230px;
  }
}

/* Hover Effects on Card */

@media (min-width: 992px) {
  .card-download:hover {
    transform: scale(1.02);
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
  .card-download:hover .btn {
    opacity: 1;
  }
}

.des-galeri{
  margin-top: -30px;
  margin-left: 10px;
}

.stack-carousel .owl-item {
  padding: 50px 15px;
  transition: all .3s ease;
}

.stack-carousel .owl-item.center {
  z-index: 3;
  transform: scale(1.5);
}

.stack-carousel .item {
  position: relative;
  padding: 20px;
  width: 100%;
}